@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.responsive-iframe {
  border: 0;
  width: 90vw; /* Default width (90% of viewport width) */
  height: 40vh; /* Default height (50% of viewport height) */
  max-width: 630px; /* Limit the maximum width */
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for resizing */
}

@media (max-width: 1024px) {
  .responsive-iframe {
    width: 80vw; /* Adjust width for medium screens */
    height: 40vh; /* Adjust height */
  }
}

@media (max-width: 768px) {
  .responsive-iframe {
    width: 70vw; /* Further reduce width for smaller screens */
    height: 40vh; /* Adjust height */
  }
}

@media (max-width: 480px) {
  .responsive-iframe {
    width: 90vw; /* 90% width for small mobile screens */
    height: 40vh; /* Adjust height for small mobile screens */
  }
}

@media (max-width: 300px) {
  .responsive-iframe {
    width: 90vw; /* Ensure 90% width for very small screens */
    height: 35vh; /* Adjust height */
  }
}
