.container {
  width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #eeeeee;
    border-radius: 10px;

  }
  
  .button {
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:disabled {
    background-color: #cccccc;
  }
  
  .error {
    color: red;
  }
  
  .formHeader {
    margin-bottom: 10px;
  }
  
  .select {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    border: 1px solid #eeeeee;
    border-radius: 10px;
  }
  
  /* Style for the options inside the select */
  .select option {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }